{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}



{% block body %}

    {% block stylesheets %}

        <link rel="stylesheet" href="{{asset('build/app.css')}}">

    {% endblock %}

    <h1>this page was not completed</h1>




{% endblock %}
