body {
    background-color: lightgray;
}
header{
    background-color: burlywood;
}
.top{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid black;
    height:50px;
    background-color: chocolate;
}

.top_i{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    height:auto;
}
.phone{
    display: flex;
    flex-direction: row;
    height:auto;
}
.email{
    display: flex;
    flex-direction: row;
    height:auto;
}

.phone_i{

    margin-left: 20px ;
}

.phone_n{

    margin-left: 10px ;
}
.email_e{

    margin-left: 10px ;
}

.email_i{

    margin-left: 20px ;
}

.ff{
    width: 60%;
}

.fi{
    display: flex;
    flex-direction: row;
    height:auto;
    margin: 10px 10px;
}


.f{
margin-left: 20px ;
}
.i{
    margin-left: 20px ;
}
.phone_n a{
    color: #AAAAAA;
    background-color: transparent;
    text-decoration: none;

}
.phone_n a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
.email_e a:hover{
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
.email_i svg{
    color: #AAAAAA;
}
.phone_i svg{
    color: #AAAAAA;
}

.email_e a{
    color: #AAAAAA;
    background-color: transparent;
    text-decoration: none;
}
.f a{
    color: black;
}
.i a{
    color: black;
}

.f a:hover{
    color: #8B4513;
    transform: translateY(-10px)
}
.i a:hover{
    color: #8B4513;
    transform: translateY(-10px)
}

li a svg:hover{
    color: #8B4513;

}
.cart{
    float:right;
    margin-right:20px ;
}
li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: chocolate;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

}


.imgl{
    display: flex;
    justify-content: center;
    margin: 20px 20px 20px 20px;
}
.imgl img{
    width: 200px;
    height: auto;
}

.cimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    align-content: center;
    border-radius: 8px;
}

.box-row{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;

}
.box{
    margin: 20px 20px 40px 40px;

}
.box h1{
    text-align: center;
}
.box2{
    margin: 15px 15px 15px 15px;
}
.box3{
    border: 4px solid dimgrey;
    border-radius: 8px;

}
.box3 p{
    font-size: medium;
    width: 100%;
    word-wrap: break-word;
    padding: 10px;
    margin: 0;
}
.boxbody{
    margin: 10px 10px 10px 10px;

}
.boxend{
    display: flex;
    flex-direction: row;
    text-align: right;

}
.boxend h5{
    margin-left: 40%;
    font-weight: bold;
}
.boxend a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    background-color: #AAAAAA;
}





































































footer{
    background: chocolate;
    padding: 40px ;
    text-align: center;
}
.footer-icons a{
    display: inline-block;
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background: grey;
    color: black;

}
footer p{
    color: white;
    font-size: 20px;
}